{% extends 'core/base.html' %}
{% load static%}
{% load crispy_forms_tags %}

{% block css %}

{% endblock %}
<!-- INICIO CONTENIDO-->
{% block contenido %}
<!-- Login -->
<br>
<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="p-5 rounded-5 text-dark shadow" style="width: 25rem; background-color: rgb(236, 236, 236);">
        <form action="" method="post">
            <div class="text-center fs-1 fw-bold mb-4">Login</div>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="d-flex justify-content-around mt-1">
                <!-- Aquí puedes agregar más contenido si es necesario -->
            </div>
            <input type="submit" value="Iniciar Sesión" class="btn btn-lg btn-outline-dark my-1 w-100 mt-3 fw-semibold shadow-sm">
        </form>
        <div class="d-flex gap-1 justify-content-center mt-1">
            <div>¿No tienes una cuenta?</div>
            <a href="{% url 'registro' %}" class="text-decoration-none fw-semibold ltr-verde">Regístrate</a>
        </div>
        <div class="d-flex gap-1 justify-content-center mt-1">
            <div>¿Olvidaste tu contraseña?</div>
            <a href="#" class="text-decoration-none fw-semibold ltr-verde">Reestablecer</a>
        </div>
    </div>
</div>

<!-- Fin Login -->
{% endblock %}
<!-- FIN CONTENIDO -->
{% block js %}
{% endblock %}