{% extends 'core/base.html' %}
{% load static %}

{% block css %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block contenido %}

<div class="container-fluid d-flex justify-content-center align-items-center" style="margin-bottom: 120px;">
  <div class="p-5 rounded-5 text-dark shadow" style="width: 25rem; background-color: rgb(236, 236, 236);">
      <form action="" method="post" class="mt-4 mb-4">
          <div class="text-center fs-1 fw-bold">Editar Pago</div>
          {% csrf_token %}
          {{ form | crispy }}
          <br>
          <button type="submit" class="btn btn-success">Guardar cambios</button>
          <a href="{% url 'crudPagos' %}" class="btn btn-primary">Volver</a>
      </form>

  </div>
</div>


{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
