{% extends 'core/base.html' %}
{% load static %}

{% block css %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block contenido %}

<div class="container">
  <h1 class="text-center my-4">Listado de Facturas</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Empresa</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Cliente</th>
              <th scope="col">Envío</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Descuento</th>
              <th scope="col">IVA</th>
              <th scope="col">Total</th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.empresa }}</td>
            <td>{{ factura.vendedor }}</td>
            <td>{{ factura.cliente }}</td>
            <td>{{ factura.envio }}</td>
            <td>{{ factura.subtotal }}</td>
            <td>{{ factura.descuento }}%</td>
            <td>{{ factura.iva }}%</td>
            <td>{{ factura.total }}</td>
            <td><a href="{% url 'factura' factura.id %}" class="btn btn-primary btn-sm">Ver Más</a></td>
            <td><td><a href="{% url 'orden_compra_pdf' factura.id %}" class="btn btn-info">Exportar PDF</a></td></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <a href="{% url 'ordenCompra' %}" class="btn btn-success">Agregar orden de compra</a>
</div>


{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
