{% extends 'core/base.html' %}
{% load static %}

{% block css %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .estado-creada {
        background-color: yellow;
        border: 1px solid black;
        color: black;
    }
    .estado-rectificada {
        background-color: orange;
        border: 1px solid black;
        color: black;
    }
    .estado-entregada {
        background-color: lightgreen;
        border: 1px solid black;
        color: black;
    }
    .estado-rechazada {
        background-color: red;
        border: 1px solid black;
        color: white;
    }
    .estado-facturada {
        background-color: rgb(95, 0, 183);
        border: 1px solid black;
        color: white;
    }

    .estado-orden {
        background-color: rgb(0, 146, 183);
        border: 1px solid black;
        color: white;
    }

    .estado-anulada {
        background-color: rgb(154, 0, 0);
        border: 1px solid black;
        color: white;
    }

    .estado-por {
        background-color: rgb(255, 249, 135);
        border: 1px solid black;
        color: rgb(0, 0, 0);
    }

    button {
        pointer-events: auto;
    }
    button:hover {
        background-color: inherit; /* Mantiene el color original */
        border: 1px solid black; /* Mantiene el borde */
    }
  </style>
{% endblock %}

{% block contenido %}
<div class="container">
  <h1 class="text-center my-4">Listado de Facturas</h1>
  <table class="table table-striped">
      <thead>
          <tr>
              <th scope="col">Empresa</th>
              <th scope="col">Vendedor</th>
              <th scope="col">Cliente</th>
              <th scope="col">Envío</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Descuento</th>
              <th scope="col">IVA</th>
              <th scope="col">Total</th>
              <th scope="col">Estados</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
          </tr>
      </thead>
      <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.empresa }}</td>
            <td>{{ factura.vendedor }}</td>
            <td>{{ factura.cliente }}</td>
            <td>{{ factura.envio }}</td>
            <td>{{ factura.subtotal }}</td>
            <td>{{ factura.descuento }}%</td>
            <td>{{ factura.iva }}%</td>
            <td>{{ factura.total }}</td>
            <td>
                <button class="btn estado-{{ factura.estadoModificacion.nombre|lower }} btn-sm" style="pointer-events:none;">
                    {{ factura.estadoModificacion.nombre|default:'Desconocido' }}
                </button>
            </td>
            <td>
                <button class="btn estado-{{ factura.estadoOrden.nombre|lower }} btn-sm" style="pointer-events:none;">
                    {{ factura.estadoOrden.nombre|default:'Desconocido' }}
                </button>
            </td>
            <td>
                <button class="btn estado-{{ factura.estadoEnvio.nombre|lower }} btn-sm" style="pointer-events:none;">
                    {{ factura.estadoEnvio.nombre|default:'Desconocido' }}
                </button>
            </td>
            <td><a href="{% url 'factura' factura.id %}" class="btn btn-primary btn-sm">Ver Más</a></td>
            <td><a href="{% url 'orden_compra_pdf' factura.id %}" class="btn btn-info">Exportar PDF</a></td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  <a href="{% url 'ordenCompra' %}" class="btn btn-success">Agregar orden de compra</a>
</div>

{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}
