{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .empresa-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
    }
    .empresa-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    }
    .empresa-input[type="text"], .empresa-input[type="tel"], .empresa-input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .empresa-submit[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }
    .empresa-submit[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container-lg">
    <h1 class="text-center my-4">Orden de Compra</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form id="combinedForm" action="" method="post">
          {% csrf_token %}
          <h3 class="my-4">Empresa</h3>
          {{ empresaForm | crispy }}

          <h3 class="my-4">Vendedor</h3>
          {{ vendedorForm | crispy }}

          <h3 class="my-4">Cliente</h3>
          {{ clienteForm | crispy }}

          <h3 class="my-4">Enviar A:</h3>
          {{ envioForm | crispy }}
  
          <h3 class="my-4">Productos</h3>
          <div id="productoDiv" class="mb-3">
          </div>
          <button type="button" id="addRow" class="btn btn-primary mb-3">Agregar producto</button>

          <h3 class="my-4">Detalle</h3>
          <div id="subtotalDiv" class="mb-3">
            <label for="subtotal" class="form-label">Subtotal:</label>
            <input type="number" class="form-control" id="subtotal" name="subtotal" readonly>
          </div>

          <div id="descuentoDiv" class="mb-3">
          <label for="descuento">Descuento %:</label><br>
          <input class="form-control" type="number" id="descuento" name="descuento">
          </div>

          <div id="descuentoMontoDiv" class="mb-3">
            <label for="descuentoMonto" class="form-label">Monto Descuento</label>
            <input type="number" class="form-control" id="descuentoMonto" name="descuentoMonto" readonly>
          </div>

          <div id="ivaDiv" class="mb-3">
            <label for="iva" class="form-label">IVA (%)</label>
            <input type="number" class="form-control" id="iva" name="iva">
          </div>

          <div id="ivaMontoDiv" class="mb-3">
            <label for="ivaMonto" class="form-label">Monto IVA</label>
            <input type="number" class="form-control" id="ivaMonto" name="ivaMonto" readonly>
          </div>

          <div id="costoenvioDiv" class="mb-3">
          <label for="costoenvio">Costo de envío:</label><br>
          <input class="form-control" type="text" id="costoenvio" name="costoenvio">
          </div>

          <div id="totalDiv" class="mb-3">
            <label for="total" class="form-label">Total:</label>
            <input type="number" class="form-control" id="total" name="total" readonly>
          </div>
          <div class="text-start">
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
$(document).ready(function(){
    var i=1;

    $('#addRow').off('click').click(function(){
        i++;
        $('#productoDiv').append('<div id="row'+i+'" class="mb-3"><div class="row"><div class="col"><label for="producto" class="form-label">Producto:</label><input type="text" class="form-control" id="producto" name="producto"></div><div class="col"><label for="cantidad" class="form-label">Cantidad:</label><input type="number" class="form-control" id="cantidad" name="cantidad"></div><div class="col"><label for="precio" class="form-label">Precio:</label><input type="number" class="form-control" id="precio" name="precio" step="0.01"></div></div><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div>');
        recalculateSubtotal();
    });

    $(document).on('click', '.btn_remove', function(){
        var button_id = $(this).attr("id"); 
        $('#row'+button_id+'').remove();
        recalculateSubtotal();
    });

    $(document).on('change', 'input[name="precio"], input[name="cantidad"]', function() {
        recalculateSubtotal();
    });

    function recalculateSubtotal() {
      var subtotal = 0;
      $('input[name="precio"]').each(function(index, element) {
          var precio = parseFloat($(element).val()) || 0;
          var cantidad = parseFloat($('input[name="cantidad"]').eq(index).val()) || 0;
          subtotal += precio * cantidad;
      });
      $('#subtotal').val(Math.floor(subtotal));

      // Aplica el descuento al subtotal
      var descuentoPorcentaje = parseFloat($('#descuento').val()) || 0;
      var descuentoMonto = subtotal * (descuentoPorcentaje / 100);
      subtotal = subtotal - descuentoMonto;

      // Actualiza el campo de entrada de solo lectura con el monto del descuento
      $('#descuentoMonto').val(Math.round(descuentoMonto));

      // Obtiene el IVA como un porcentaje ingresado por el usuario
      var ivaPorcentaje = parseFloat($('#iva').val()) || 0;
      var iva = subtotal * (ivaPorcentaje / 100);

      // Actualiza el campo de entrada de solo lectura con el monto del IVA
      $('#ivaMonto').val(Math.round(iva));

      // Calcula el total como la suma del subtotal y el IVA
      var total = subtotal + iva;

      // Agrega el costo de envío al total después de aplicar el descuento
      var costoenvio = parseFloat($('#costoenvio').val()) || 0;
      total += costoenvio;

      $('#total').val(Math.round(total));
    }
  
    // Llama a recalculateSubtotal cuando cambien los campos de costo de envío, descuento e IVA
    $('#costoenvio, #descuento, #iva').change(recalculateSubtotal);
  
});
  </script>
{% endblock %}