{% extends 'core/base.html' %}
{% load static %}

{% block css %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .empresa-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
    }
    .empresa-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    }
    .empresa-input[type="text"], .empresa-input[type="tel"], .empresa-input[type="email"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border-radius: 4px;
        border: 1px solid #ccc;
    }
    .empresa-submit[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;
    }
    .empresa-submit[type="submit"]:hover {
        background-color: #45a049;
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container-lg">
    <h1 class="text-center my-4">Orden de Compra</h1>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <form id="combinedForm" action="" method="post">
          <h3 class="my-4">Empresa</h3>
          <label for="nombreEmpresa">Nombre de la empresa:</label><br>
          <input class="empresa-input" type="text" id="nombreEmpresa" name="nombreEmpresa"><br>

          <label for="direccion">Dirección:</label><br>
          <input class="empresa-input" type="text" id="direccion" name="direccion"><br>

          <label for="telefono">Teléfono:</label><br>
          <input class="empresa-input" type="tel" id="telefono" name="telefono"><br>

          <label for="correo">Correo:</label><br>
          <input class="empresa-input" type="email" id="correo" name="correo"><br>

          <label for="correo">Sitio Web:</label><br>
          <input class="empresa-input" type="text" id="web" name="web"><br>

          <h3 class="my-4">Vendedor</h3>
          <label for="nombreEmpresa">Nombre de la empresa:</label><br>
          <input class="empresa-input" type="text" id="nombreEmpresav" name="nombreEmpresav"><br>

          <label for="direccion">Dirección:</label><br>
          <input class="empresa-input" type="text" id="direccionv" name="direccionv"><br>

          <label for="telefono">Teléfono:</label><br>
          <input class="empresa-input" type="tel" id="telefonov" name="telefonov"><br>

          <label for="correo">Correo:</label><br>
          <input class="empresa-input" type="email" id="correov" name="correov"><br>

          <label for="correo">Sitio Web:</label><br>
          <input class="empresa-input" type="text" id="webv" name="webv"><br>

          <h3 class="my-4">Cliente</h3>
          <label for="nombreEmpresa">Nombre del cliente:</label><br>
          <input class="empresa-input" type="text" id="nombrecliente" name="nombrecliente"><br>

          <label for="nombreEmpresa">Nombre de la empresa:</label><br>
          <input class="empresa-input" type="text" id="nombreEmpresac" name="nombreEmpresac"><br>

          <label for="direccion">Dirección:</label><br>
          <input class="empresa-input" type="text" id="direccionc" name="direccionc"><br>

          <label for="telefono">Teléfono:</label><br>
          <input class="empresa-input" type="tel" id="telefonoc" name="telefonoc"><br>

          <label for="correo">Correo:</label><br>
          <input class="empresa-input" type="email" id="correoc" name="correoc"><br>

          <h3 class="my-4">Enviar A:</h3>
          <label for="direccion">Metodo de envío:</label><br>
          <input class="empresa-input" type="text" id="metodoenvio" name="metodoenvio"><br>

          <label for="direccion">Dirección:</label><br>
          <input class="empresa-input" type="text" id="direccionenvio" name="direccionenvio"><br>

          <label for="direccion">Condiciones de envío:</label><br>
          <input class="empresa-input" type="text" id="condicionesenvio" name="condicionesenvio"><br>

          <label for="direccion">Costo de envío:</label><br>
          <input class="empresa-input" type="text" id="costoenvio" name="costoenvio"><br>
  
          <h3 class="my-4">Productos</h3>
          <div id="productoDiv" class="mb-3">
          </div>
          <button type="button" id="addRow" class="btn btn-primary mb-3">Agregar producto</button>

          <h3 class="my-4">Detalle</h3>
          <div id="subtotalDiv" class="mb-3">
            <label for="subtotal" class="form-label">Subtotal:</label>
            <input type="number" class="form-control" id="subtotal" name="subtotal" readonly>
          </div>
          <div id="ivaDiv" class="mb-3">
            <label for="iva" class="form-label">IVA (19%)</label>
            <input type="number" class="form-control" id="iva" name="iva" readonly>
          </div>
          <div id="totalDiv" class="mb-3">
            <label for="total" class="form-label">Total:</label>
            <input type="number" class="form-control" id="total" name="total" readonly>
          </div>
          <div class="text-start">
            <button type="submit" class="btn btn-success">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br><br>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
$(document).ready(function(){
    var i=1;

    $('#addRow').off('click').click(function(){
        i++;
        $('#productoDiv').append('<div id="row'+i+'" class="mb-3"><div class="row"><div class="col"><label for="producto" class="form-label">Producto:</label><input type="text" class="form-control" id="producto" name="producto"></div><div class="col"><label for="cantidad" class="form-label">Cantidad:</label><input type="number" class="form-control" id="cantidad" name="cantidad"></div><div class="col"><label for="precio" class="form-label">Precio:</label><input type="number" class="form-control" id="precio" name="precio" step="0.01"></div></div><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">X</button></div>');
        recalculateSubtotal();
    });

    $(document).on('click', '.btn_remove', function(){
        var button_id = $(this).attr("id"); 
        $('#row'+button_id+'').remove();
        recalculateSubtotal();
    });

    $(document).on('change', 'input[name="precio"], input[name="cantidad"]', function() {
        recalculateSubtotal();
    });

    function recalculateSubtotal() {
        var subtotal = 0;
        $('input[name="precio"]').each(function(index, element) {
            var precio = parseFloat($(element).val()) || 0;
            var cantidad = parseFloat($('input[name="cantidad"]').eq(index).val()) || 0;
            subtotal += precio * cantidad;
        });
        $('#subtotal').val(Math.floor(subtotal));

        // Calcula el IVA como el 19% del subtotal
        var iva = subtotal * 0.19;
        $('#iva').val(Math.floor(iva));

        // Calcula el total como la suma del subtotal y el IVA
        var total = subtotal + iva;
        $('#total').val(Math.round(total));
    }
});
  </script>
{% endblock %}