{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
<style>
    .empresa-body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f6f6f6;
        font-family: Arial, sans-serif;
    }
    .empresa-form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    }
</style>
{% endblock %}

{% block contenido %}
<div class="container-lg">
    <h1 class="text-center my-4">Orden de Compra</h1>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form id="combinedForm" action="" method="post">
                {% csrf_token %}
                <h3 class="my-4">Empresa</h3>
                {{ empresaForm | crispy }}

                <h3 class="my-4">Vendedor</h3>
                {{ vendedorForm | crispy }}

                <h3 class="my-4">Cliente</h3>
                {{ clienteForm | crispy }}

                <h3 class="my-4">Enviar A</h3>
                {{ envioForm | crispy }}

                <h3 class="my-4">Detalle</h3>
                {{ facturaForm | crispy }}

                <h3 class="my-4">Productos</h3>
                {{ productoFormSet.management_form }}
                <div id="productos">
                    {% for form in productoFormSet %}
                        <div class="producto-form">
                            {{ form | crispy }}
                            <button type="button" class="btn btn-danger btn-sm eliminar-producto">Eliminar</button>
                        </div>
                        <br>
                    {% endfor %}
                </div>

                <button type="button" class="btn btn-primary btn-lg" id="agregar-producto">Agregar Producto</button>

                <br>
                <a href="{% url 'factura' factura.id %}" class="btn btn-primary btn-lg">Volver</a>
                <button type="submit" class="btn btn-success btn-lg">Rectificar</button>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      var formsetContainer = document.getElementById("productos");
      var totalForms = document.getElementById("id_productoformset-TOTAL_FORMS");

      // Manejar la adición de productos
      document.getElementById("agregar-producto").addEventListener("click", function() {
          var currentFormCount = parseInt(totalForms.value);
          var newForm = document.createElement("div");
          newForm.classList.add("producto-form");
          var formHTML = `{{ productoFormSet.empty_form|crispy }}`;
          formHTML = formHTML.replace(/__prefix__/g, currentFormCount);
          newForm.innerHTML = formHTML + '<button type="button" class="btn btn-danger btn-sm eliminar-producto">Eliminar</button>';
          formsetContainer.appendChild(newForm);
          totalForms.value = currentFormCount + 1;

          // Añadir event listener al botón de eliminar en el nuevo formulario
          newForm.querySelector(".eliminar-producto").addEventListener("click", function() {
              newForm.remove();
              totalForms.value = parseInt(totalForms.value) - 1;
          });
      });

      // Manejar la eliminación de productos existentes
      document.querySelectorAll(".eliminar-producto").forEach(function(button) {
          button.addEventListener("click", function() {
              var formToDelete = button.closest(".producto-form");
              formToDelete.remove();
              totalForms.value = parseInt(totalForms.value) - 1;
          });
      });
  });
</script>
{% endblock %}
